<!-- schedule page -->
{{ partial "header.html" . }}

<div class="container">


    <h1>Schedule</h1>

    {{ .Content }}

    <hr>

    {{ range .Params.weeks }}
      <h3>Week {{ .week }}</h3>

      {{ range .classes }}
        <h5>{{ dateFormat "Monday, Jan 2, 2006" .date }} <small>Class</small> </h5>
        <strong>Topics:</strong> {{- .topics | markdownify -}}
        <ul>
          {{ range .readings }}
          <li>{{ . | markdownify }}</li>
          {{ end }}
        </ul>
      {{ end}}
      <hr>
    {{ end }}

  </div>



</div>

{{ partial "footer.html" . }}
