<!-- schedule page -->
{{ partial "header.html" . }}

<main class="container" role="main">

  <article class="article">

    <div class="article-content">
      {{ range .Params.weeks }}
        <h3>Week {{ .week }}</h3>

        {{ with .class }}
        <h5>{{ dateFormat "Monday, Jan 2, 2006" .date }} <small>Class</small> </h5>
        <strong>Topics:</strong> {{- .topics -}}
        <ul>
          {{ range .readings }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        {{ end}}

        {{ with .lab }}
        <h5>{{ dateFormat "Monday, Jan 2, 2006" .date }} <small>Lab</small> </h5>
        <strong>Topics:</strong> {{- .topics -}}
        <ul>
          {{ range .readings }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        {{ end}}
        <hr>
      {{ end }}
    </div>

  </article>

</main>

{{ partial "footer.html" . }}
